{
	email aleksandar.perak33@gmail.com
}

leadlock.org {
	tls {
		issuer acme {
			dir https://acme.zerossl.com/v2/DV90
			email aleksandar.perak33@gmail.com
		}
	}

	handle /api/* {
		reverse_proxy api:8000
	}

	handle /health* {
		reverse_proxy api:8000
	}

	handle {
		root * /srv/dashboard
		try_files {path} /index.html
		file_server
	}
}

api.leadlock.org {
	tls {
		issuer acme {
			dir https://acme.zerossl.com/v2/DV90
			email aleksandar.perak33@gmail.com
		}
	}

	reverse_proxy api:8000
}
